.app.dark {
  --bg-color: #2f4f4f;
  --inverted-bg-color: #778899;

  --primary-color: #ffffff;
  --secondary-color: #ffc054;
  --inverted-primary-color: #000000;
  --inverted-secondary-color: #eee8aa;
}
