.app.normal {
  --bg-color: #778899;
  --inverted-bg-color: #2f4f4f;

  --primary-color: #000000;
  --secondary-color: #eee8aa;
  --inverted-primary-color: #ffffff;
  --inverted-secondary-color: #ffc054;
}
